@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

:root {
  --bg-color: rgb(251, 246, 223);
  --dark-bg-color: rgb(182, 177, 117);
  --slight-dark-bg-color: rgb(195, 192, 156);
  --font-color: rgb(36, 20, 2);
}

html {
  box-sizing: border-box;
}
body {
  color: var(--font-color);
  margin: 0 auto;
  max-width: 1000px;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'header'
    'content'
    'footer';
}

header {
  height: 5vh;
  background-color: var(--dark-bg-color);
  grid-area: header;
  display: grid;
  grid-template-columns: 50px 1fr;
}

main {
  height: 87vh;
  background-color: var(--bg-color);
  grid-area: content;
}

footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 8vh;
  background-color: var(--dark-bg-color);
  padding: 10px 10px;
}

main nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px;
}
main nav ul li {
  list-style-type: none;
  min-width: 100px;
  border: 1px solid black;
  padding: 5px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  background-color: var(--slight-dark-bg-color);
}

main nav ul li#selected {
  background-color: var(--dark-bg-color);
  font-weight: bold;
}

main nav ul li:hover {
  background-color: var(--dark-bg-color);
  transform: scale(1.1);
  font-weight: bold;
}

main nav ul li a {
  text-decoration: none;
  color: var(--font-color);
}

#title {
  text-align: center;
  font-family: 'Dancing Script', sans-serif, Courier, monospace;
  font-weight: bold;
  font-size: 13px;
}

footer div.contacto {
  justify-self: start;
}

footer a {
  text-decoration: underline;
  color: var(--font-color);
}

footer a:hover {
  font-weight: bold;
}

footer div.redes-sociales {
  justify-self: end;
}

div.redes-sociales img {
  max-width: 40px;
  margin: 5px 10px;
}
header img#menu-icon {
  max-width: 40px;
  display: none;
}
