body {
  height: 100vh;
  color: #1f1f1f;
  background: linear-gradient(to bottom, #5578da, #ffc0fc);
}
a {
  background: linear-gradient(to top, black, white);
  display: flex;
}
::placeholder {
  color: #ccc;
}
