body {
  height: 100vh;
  color: #1f1f1f;
  background: linear-gradient(to bottom, #bada55, #c0ffee);
}
a {
  background: linear-gradient(to top, black, white);
  display: flex;
}
::placeholder {
  color: #ccc;
}
